{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="products__page" {{ stimulus_controller('view-toggle search-focus') }}>
    <div {{ stimulus_controller('disclosure', {openLabel: 'Controls', closedLabel: 'Controls'}) }}>
        <div class="padding-double product__title">
            <h1>
                <span>Products</span>
            </h1>
            <div class="product__title-controls">
                <button
                    class="btn-faint btn-toggle"
                    {{ stimulus_action('disclosure', 'toggle') }}
                    {{ stimulus_target('disclosure', 'button') }}
                >
                    Controls
                </button>
            </div>
        </div>

        <details {{ stimulus_target('disclosure', 'details') }} {% if searchTerm %}open{% endif %}>
            <summary style="display: none;"></summary>
            <div class="divider-block"></div>
            <div class="padding-inline-double padding-block">
                <div class="hstack space-between">
                    <form class="box medium" method="get" action="{{ path('products') }}" data-turbo-frame="products">
                        <div class="vstack gap-half">
                            <!-- <label for="search">Search Products</label> -->
                            <div class="hstack gap-half">
                                <input
                                    type="text"
                                    id="search"
                                    name="search"
                                    value="{{ searchTerm|default('') }}"
                                    placeholder="Enter product name..."
                                    {{ stimulus_target('search-focus', 'searchInput') }}
                                >
                                <button type="submit" class="btn">Search</button>
                                <a href="{{ path('products') }}" class="btn btn-faint" data-turbo-frame="products" data-filtered-show>Clear</a>
                            </div>
                        </div>
                    </form>
                    <div class="hstack">
                        <button
                            type="button"
                            class="btn btn-faint"
                            data-list="{{ viewMode == 'list' ? 'true' : 'false' }}"
                            {{ stimulus_target('view-toggle', 'button') }}
                            {{ stimulus_action('view-toggle', 'toggle') }}
                            >
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grid2x2-icon lucide-grid-2x2"><path d="M12 3v18"/><path d="M3 12h18"/><rect x="3" y="3" width="18" height="18" rx="2"/></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rows2-icon lucide-rows-2"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M3 12h18"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </details>
    </div>
    <div class="divider-block"></div>

    <turbo-frame id="products">
        <div data-filtered="{{ searchTerm ? 'true' : 'false' }}" data-list="{{ viewMode == 'list' ? 'true' : 'false' }}" class="grid gap-px products" {{ stimulus_target('view-toggle', 'grid') }}>
            {% for product in products %}
                <div class="padding-double"><a href="{{ path('product_show', {id: product.id}) }}" data-turbo-frame="_top">{{ product.name }}</a></div>
            {% endfor %}
            <div class="vstack centered action padding-double">
                <p>Add another product</p>
                <a href="{{ path('new_product') }}" class="btn">Add</a>
            </div>
        </div>
    </turbo-frame>
    <section>
    </section>
</div>
{# <div class="divider-block"></div> #}
{% endblock %}
