{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div {{ stimulus_controller('disclosure', {openLabel: 'Hide', closedLabel: 'Filters'}) }}>
    <div class="padding-double product__title">
        <h1>
            <span>Products</span>
        </h1>
        <div class="product__title-controls">
            <button
                {{ stimulus_action('disclosure', 'toggle') }}
                {{ stimulus_target('disclosure', 'button') }}
            >
                Filters
            </button>
        </div>
    </div>

    <details {{ stimulus_target('disclosure', 'details') }}>
        <summary style="display: none;"></summary>
        <div class="divider-block"></div>
        <p>Hidden content here</p>
    </details>
</div>
<div class="divider-block"></div>

<div class="grid gap-px products">
    {% for product in products %}
        <div class="padding-double"><a href="{{ path('product_show', {id: product.id}) }}">{{ product.name }}</a></div>
    {% endfor %}
    <div class="vstack centered action">
        <p>Add another product</p>
        <a href="{{ path('new_product') }}" class="btn">Add</a>
    </div>
</div>
<section>
</section>
{# <div class="divider-block"></div> #}
{% endblock %}
